%h1 Hello Admin!
%nav
  %ul.nav.pull-right
    %li= link_to "Clients", clients_path
    %li= link_to "Reservations", reservations_path
    %li= link_to "Reserved rooms", reserved_rooms_path
    %li= link_to "Available rooms", rooms_path