!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to hotel_nagano.com, #{@client.full_name}
    %p
      You have successfully signed up to hotel_nagano.com,
      your username is: #{@client.email}.
    %p Thanks for joining and have a great stay!