%header.navbar.navbar-expand-sm.bg-primary.navbar-dark
  %a.navbar-brand{href: home_index_path} Hotel Nagano
  %ul.navbar-nav
    %li.nav-item.dropdown
      %a#navbardrop.text-white.nav-link.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
        Administration
      .dropdown-menu
        %a.dropdown-item{href: admin_clients_path} Clients
        %a.dropdown-item{href: admin_reservations_path} Reservations
        %a.dropdown-item{href: admin_rooms_path} Rooms
        %a.dropdown-item{href: admin_statistics_path} Statistics
    %li.nav-item
      %a.text-white.nav-link{href: clients_path} Clients
    %li.nav-item
      %a.text-white.nav-link{href: reserved_rooms_path} Search for available rooms
%br/